!!!
%html.mdl-js{lang: "en"}
  %head
    = render('_head.html.haml')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title.inline-block
                  Codebreaker Web 2021
            .row
              .col.button
                %button.btn.btn-primary{disabled: "disabled", type: "button"}
                  Level:
                  %span.badge.badge-light
                    = @game_over.difficulty[:name].capitalize
                %button.btn.btn-primary{disabled: "disabled", type: "button"}
                  Attempts Left:
                  %span.badge.badge-light
                    = (@game_over.difficulty[:attempts].to_i - @game_over.attempts_used)
                %button.btn.btn-primary{disabled: "disabled", type: "button"}
                  Hints Left:
                  %span.badge.badge-light
                    = (@game_over.difficulty[:hints].to_i - @game_over.hints_used)
            %hr.mb-4/
            .row
              .text-center
                .text-center
                  %h3.text-white
                    Oops, #{@game_over.user.name.upcase}! You lose the game!
                  %h4.text-white
                    The code was
                    %strong= @game_over.secret_code
                %img.img-fluid{alt: "You lose the game!", src: "app/assets/images/lost.gif"}/
            %hr.mb-4/
            %a.btn.btn-primary.btn-lg{href: "/", role: "button"}
              Back Home
            %a.btn.btn-success.btn-lg.float-right{href: "/statistics", role: "button"}
              Statistics
