!!!
%html.mdl-js{lang: "en"}
  %head
    = render('_head.html.haml')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  Codebreaker Web 2021
            %p.lead.text-white-70
              Top of Users:
            %hr.mb-4/
            .table-responsive-md.scores
              %table.table.table-striped.table.table-sm
                %thead
                %tr
                  %th{scope: "col"} #
                  %th{scope: "col"} Name
                  %th{scope: "col"} Level
                  %th{scope: "col"} Attempts Left
                  %th{scope: "col"} Hints Left
                  %th{scope: "col"} Date
                %tbody
                  - if @stats
                    - @stats.each_with_index do |stat, index|
                      %tr
                        %th{scope: "row"}= index + 1
                        %td= stat.user.name
                        %td= stat.difficulty[:name]
                        %td
                          = stat.attempts_total - stat.attempts_used
                          \/#{stat.attempts_total}
                        %td
                          = stat.hints_total - stat.hints_used
                          \/#{stat.hints_total}
                        %td= stat.user.created_at.strftime('%d-%m-%Y')
            %hr.mb-4/
            %a.btn.btn-primary.btn-lg{href: "/", role: "button"}
              Home
